.header{
   display : flex;
   justify-content: space-between;
   border:1px solid black;
}

.logo{
    width: 100px;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 24px;
    font-style:italic;
}
.nav-items > ul > li{
    padding: 10px;
    margin : 10px;
}
.search{
    padding-top:10px;
    padding-bottom:10px;
}
.res-card{
    margin: 10px;
    width:200px;
    
    border-radius: 8px;
    
    background-color: #f4f4f4;
    cursor: pointer;
}
.res-card:hover{
    border: 1px solid black;
}
.res-image{
    margin:2px;
    width:190px;
    height:150px;
    border-radius:4px;
}
.filter{
    display: flex;
    flex-wrap: wrap;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.filter-btn{
    padding: 0 10px;
    margin-top: 5px;
    margin-left : 40px;
    border-radius: 2px; 
}
.filter-btn:hover{
    border-color:orange;
    font-weight: bold;
    background-color:aqua;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    height:400px;
    background-color: #f0f0f0;
    width:200px;
    margin:20px;
}

.login-button{
    margin-top:10px;
    margin-right: 12px;
    padding:10 20px;
    width: 80px;
    height:50px;
}
.login-button:hover{
    cursor: pointer;
    background-color: azure;
    font-weight: bold;
    font-size: 12px;
}

.search{
    margin:5px 10px;
}
.search-box{
    padding:10px;
}
.button-search{
    padding:10px;
    cursor:pointer;
    font-weight: bold;
}